*{
  font-family: Helvetica, sans-serif, Arial;
}



#titulo{
  text-align: center;
  color: #2d3436;
}

#placar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mensagem {
  background-color: #636e72;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  padding:  20px;
}

#jogador {
  background-color: #e69292;
  flex-grow: 1;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

#jogador #jogador-escolha, #computador #computador-escolha {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 30px 0 0;
}

#computador-nome{
  text-align: right;
}

#jogador #jogador-escolha li, #computador #computador-escolha li {
  display: inline;
  padding: 0 15px;
}

#jogador #jogador-escolha a, #computador #computador-escolha a{
  opacity: .65;
}
#jogador #jogador-escolha a:hover, #computador #computador-escolha a:hover,
#jogador #jogador-escolha a.selecionado, #computador #computador-escolha a.selecionado{
  opacity: 100%;
}

#jogador #jogador-escolha img, #computador #computador-escolha img{
  max-width: 80px;
}

#vs {
font-size: 50px;
padding: 0 20px;
}

#computador {
  background-color: #3498db;
  flex-grow: 1;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

#jogador h2, #computador h2{
  margin: 0;
  padding: 0;
  
}

#jogador-pontos, #computador-pontos{
  font-size: 48px;
  position: absolute;
}

#jogador-pontos{
  right: 20px;
}